#gallery-container {
    margin-top: 180px !important;
    margin-bottom: 3rem !important;
    border-radius: 5px;

    .modal-content {
        width: auto;
    }

    .modal-dialog {
        max-width: 90vw;
    }

    .modal-image {
        max-width: 100%;

    }
}