.navbar {
    position: absolute;
    max-height: 100%;
    background-color: white !important;
    letter-spacing: .1rem;
    li {
        color: $apex-blue
    }
}

.nav-item {
    a {
        color: $apex-blue;
        font-weight: bold;
        &:hover {
            color: lighten($apex-blue, $amount: 15%);
            text-decoration: none;
        }
    }
}

.navbar-brand {
    min-width: 200px;
}

.navbar-brand--image {
    width: 100%;
    height: auto;
    max-height: 130px;
    max-width: 450px;
}

.navbar-toggler-icon {
    display: flex;
    height: 4px;
    margin: 5px;
    border-radius: 10px;
    background-color: $apex-blue
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}