#teams--wrapper {
    margin-top: 180px !important;
    margin-bottom: 3rem !important;
    padding-top: 3rem !important;
    border-radius: 5px;
    h1 {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    }
    p {
        padding: 0;
    }
}