$apex-blue: #00274d;
$apex-orange: #ff8d42;

$ais-blue: #0aa0e7;

$discord-color: #7289da;

@import 'navbar';
@import 'footer';

@font-face {
  font-family: Terminal;
  src: url(../css/fonts/PCapTerminal.otf);
}

@font-face {
  font-family: LAOui;
  src: url(../css/fonts/LaoUI.ttf);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .wrapper {
    margin-top: 130px;
  }
  .navbar-brand {
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .wrapper {
    margin-top: 180px !important;
    margin-bottom: 3rem !important;
    border-radius: 5px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #wrapper {
    padding: 3rem;
  }
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
    background-color: $apex-blue;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

.body--small {
  font-size: 50%;
}

.apex-orange {
  color: $apex-orange;
}

.apex-orange--bg {
  background-color: $apex-orange;
}

.apex-blue {
  color: $apex-blue;
}

.apex-blue--bg {
  background-color: $apex-blue;
}

.font-border--apex {
  color: $apex-orange;
  -webkit-text-stroke: 1px $apex-blue;
}

.ais-blue {
  color: $ais-blue;
}

.discord-color {
  color: $discord-color;
}

.font-terminal {
  font-family: Terminal;
}

.font-LAOui {
  font-family: LAOui;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.blog--date {
  color: $apex-orange;
  letter-spacing: .2rem;
}

.modal-content {
  width: auto;
  margin: auto;
}

.modal-dialog {
  max-width: 90vw;
}

.modal-image {
  max-width: 100%;
  max-height: 75vh;
}


