$apex-blue: #00274d;
$apex-orange: #ff8d42;

$ais-blue: #0aa0e7;

@import 'navbar';
@import 'teams';
@import 'gallery';
@import 'sponsors';

@font-face {
  font-family: Terminal;
  src: url(../css/fonts/PCapTerminal.otf);
}

@font-face {
  font-family: LAOui;
  src: url(../css/fonts/LaoUI.ttf);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #wrapper.col-sm-8 {
    padding: .5rem;
    margin-top: 120px !important;
  }
  .navbar-brand {
    max-width: 50%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #wrapper {
    padding: 3rem;
  }
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
    background-color: $apex-blue;
}

p {
  margin-bottom: 0;
}

.apex-orange {
  color: $apex-orange;
}

.apex-orange--bg {
  background-color: $apex-orange;
}

.apex-blue {
  color: $apex-blue;
}

.apex-blue--bg {
  background-color: $apex-blue;
}

.ais-blue {
  color: $ais-blue;
}

.font-terminal {
  font-family: Terminal;
}

.font-LAOui {
  font-family: LAOui;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
}

#index--wrapper {
  margin-top: 180px !important;
  margin-bottom: 3rem !important;
  border-radius: 5px;
  p {
    padding: 1rem !important;
  }
}