$apex-blue: #00274d;
$apex-orange: #ff8d42;

@import 'navbar';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #wrapper.col-sm-8 {
    padding: .5rem;
    margin-top: 120px !important;
  }
  .navbar-brand {
    max-width: 50%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #wrapper {
    padding: 3rem;
  }
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    background-color: $apex-blue;
}

p {
  margin-bottom: 0;
}

#wrapper {
  margin-top: 180px !important;
  margin-bottom: 3rem !important;
  border-radius: 5px;
  p {
    padding: 1rem !important;
  }
}